/* Start Global Rules */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background: linear-gradient(to right bottom, #40008a, #ff9686);
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 600;

}


/* Start Landing Page */
.landing-page header {
    min-height: 80px;
    display: flex;
}

@media (max-width: 767px) {
    .landing-page header {
        min-height: auto;
        display: initial;
    }
}

.landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .landing-page header .container {
        flex-direction: column;
        justify-content: center;
    }
}

.landing-page header .logo {
    color: #5d5d5d;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
}

@media (max-width: 767px) {
    .landing-page header .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.landing-page header .links {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .landing-page header .links {
        text-align: center;
        gap: 10px;
    }
}

.landing-page header .links li {
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
    transition: .3s;
}

@media (max-width: 767px) {
    .landing-page header .links li {
        margin-left: auto;
    }
}

.landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #FF9686;
}

.landing-page header .links li:not(:last-child):hover {
    color: #FF9686;
}

.landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
}

@media (max-width: 767px) {
    .landing-page .content .container {
        gap: 0;
        min-height: calc(100vh - 101px);
        justify-content: center;
        flex-direction: column-reverse;
    }
}

@media (max-width: 767px) {
    .landing-page .content .info {
        text-align: center;
        margin-bottom: 15px
    }
}

.landing-page .content .info h1 {

    font-size: 44px;
}

.landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 20px;

}

.landing-page .content .info .btn-primary {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #FF9686;
}

.landing-page .content .info .btn-secondry {
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;

}

.landing-page .content .info .btn-secondry:hover {
    background-color: #FF9686;
    border: 2px solid transparent;
    color: #fff;

}

.landing-page .content .image img {
    max-width: 100%;
}

.nav-link {
    color: #fff;
}

/* End Landing Page */
/* Pricing section css starts */
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.section-pricing {
    position: relative;
    font-family: "Poppins", sans-serif;
    background-color: #e5dad9;
    padding: 120px 0;
    color: #4a6985;
}

.section-pricing .header-section .plans-buttons {
    display: inline-block;
    margin-bottom: 35px;
    box-shadow: 0 10px 30px rgb(255, 255, 255);
    padding: 10px;
    font-family: "Rubik", sans-serif;
    background-color: rgb(255, 255, 255);
}

.section-pricing .header-section .plans-buttons .monthly,
.section-pricing .header-section .plans-buttons .yearly {
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all .3s;
}

.section-pricing .header-section .plans-buttons span:not(:last-child) {
    margin-right: 5px;
}

.section-pricing .header-section .plans-buttons .monthly,
.section-pricing .header-section .plans-buttons .yearly {
    border: 1px solid #ff9686;
}

.section-pricing .header-section .plans-buttons .active {
    background-color: #ff9686;
    border: 1px solid #ff9686;
    color: #fff;
}

.section-pricing .header-section .plans-buttons .perc {
    display: inline-block;
    background-color: #ff6b8f;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    padding: 1px 12px;
    margin-left: 10px;
}

.section-pricing .header-section .title {
    font-family: "Rubik", sans-serif;
    color: #000;
    font-size: 70px;
    font-weight: 700;
}

.section-pricing .header-section .description {
    font-size: 17px;
    margin-top: 15px;
}

.section-pricing .plans .single-plan {
    padding: 60px 30px;
    background-color: #fff;
    border-bottom: 6px solid #ff6b8f;
}

.section-pricing .plans .single-plan .title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.1em;
    color: #ff6b8f;
}

.section-pricing .plans .single-plan .description {
    margin-bottom: 35px;
    font-size: 15px;
}

.section-pricing .single-plan .icon {
    display: inline-block;
    margin-bottom: 15px;
    border: 2px solid rgba(255, 107, 143, 0.1);
    border-radius: 50%;
    padding: 25px;
}

.section-pricing .plans .single-plan .icon img {
    width: 60px;
}

.section-pricing .plans .single-plan .price {
    margin-bottom: 35px;
}

.section-pricing .plans .single-plan .price .dolar {
    color: #000;
    font-family: "Rubik", sans-serif;
}

.section-pricing .plans .single-plan .price .number {
    color: #000;
    font-family: "Rubik", sans-serif;
    font-size: 60px;
}

.section-pricing .plans .single-plan .price .plan-name {
    display: block;
    margin-top: -20px;
}

.section-pricing .plans .single-plan a.purchase-button {
    display: inline-block;
    background-color: #ff6b8f;
    color: #fff;
    font-family: "Rubik", sans-serif;
    padding: 15px 40px;
    text-decoration: none;
    transition: all .3s;
}

.section-pricing .plans .single-plan .purchase-button:hover {
    box-shadow: 0 5px 10px 0px rgba(255, 107, 143, .4);
}

.section-pricing .plans .active {
    position: relative;
    padding: 90px 30px;
    background-image: url("https://i.ibb.co/mHWFDpL/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border: none;
}

.section-pricing .plans .active:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right bottom, #40008a, #ff9686);
    opacity: 0.9;
    z-index: 10;
}

.section-pricing .plans .active .content {
    position: inherit;
    z-index: 20;
}

.section-pricing .plans .active .title {
    color: #fff;
}

.section-pricing .active .icon {
    border-color: #fff;
    background-color: #fff;
}

.section-pricing .plans .active .price .dolar {
    color: #fff;
}

.section-pricing .plans .active .price .number {
    color: #fff;
}

.section-pricing .plans .active a.purchase-button {
    background-color: #fff;
    color: #000;
}

.section-pricing .plans .active .purchase-button:hover {
    box-shadow: 0 5px 10px 0px rgba(255, 255, 255, .4);
}

@media (max-width: 575.99px) {
    .section-pricing .header-section {
        margin-bottom: 60px;
    }

    .section-pricing .header-section .title {
        font-size: 50px;
    }

    .section-pricing .header-section .description {
        font-size: 16px;
    }

    .section-pricing .plans {
        flex-wrap: wrap;
    }

    .section-pricing .plans .single-plan {
        flex: 0 0 100%;
    }

    .section-pricing .plans .active {
        padding: 60px 30px;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .section-pricing .header-section {
        margin-bottom: 60px;
    }

    .section-pricing .header-section .title {
        font-size: 60px;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .section-pricing .header-section {
        margin-bottom: 60px;
    }
}

/* Pricing sectio0n css ends */